.form {
  display: flex;
  flex-direction: column;
  
  >* {
    margin-bottom: $m-size;
  }
}
.form h1{
  background: #2A88AD;
  padding: 20px 30px 15px 30px;
  //margin: -30px -30px 30px -30px;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  font: normal 30px 'Bitter', serif;
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  border: 1px solid #257C9E;
  text-align: center;
}
.form h3{
  background: #2A88AD;
  padding: 20px 15px 15px 30px;
  //margin: -30px -30px 30px -30px;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  font: normal 20px 'Bitter', serif;
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  border: 1px solid #257C9E;
  text-align: center;
}

.form h1 > span {
  display: flex;
  flex-direction: column;
  margin-top: 2px;
  font: 13px Arial, Helvetica, sans-serif;
  text-align: center;
}
.form__input {
  padding: 9px;
  border:1px solid #DDDDDD;
  border-radius: 3px;
  min-width: 350px;
  margin-top: $s-size;
  margin-bottom: $s-size;
}
.form__error {
  margin: 0 0 $m-size 0;
  font-style: italic;
}

.form__input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__error-message {
  background: #F3F3F3;
    display: block;
    padding: 3px;
   // margin: 0 -9px -9px -9px;
    text-align: center;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
