.post-entry {
    font-family: 'Eczar', serif;
    margin-bottom: $s-size;
    margin-top: $s-size;
    max-height: 200px;
    word-wrap: inherit;
    overflow:hidden;
    text-overflow: ellipsis;
}

.post-title {
    width: 100%;
  
    font-size: $font-size-large;
    text-align: center;
}