.post-entry {
    font-family: 'Eczar', serif;
    margin-bottom: $s-size;
    margin-top: $s-size;
    max-height: 200px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
}


